@media all and (max-width: 800px) {
  .wrapper{
    width: 800px;
  }

  .search-box:hover > .search-txt{
   width: 90%;
  }
}

@media all and (max-width: 400px) {
  .wrapper{
    width: 400px;
  }

  .wrapper .left{
    display: none;
  }

  .wrapper .right{
    width: 100%;
}
